<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="/CSS/style.css">
  <title>
    <%= title%>
  </title>
</head>

<body>
  <header class="header" id="header">
    <div class="container">
      <header class="header" id="header">
        <div class="container text-center">
          <h1 class="h-1 display-5 text-center" style="font-weight:900;">
            <%= name %>
          </h1>
          <nav class="d-flex justify-content-center">
            <ul style="list-style:none;">
              <li class="header-text">Home Page<a href="/">Here</a></li>
              <li class="header-text">Programs<a href="/Programs"> Here</a></li>
              <li class="header-text">Actors<a href="/Actors"> Here</a></li>
              <li class="header-text">Directors<a href="/Directors"> Here</a></li>
            </ul>
          </nav>
        </div>
    </div>
  </header>