*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding:0;
  background-color: lightblue;
  color:#07076C;
}
.header{
  background-image:url('/image/backgrounds/blue.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: red; 
  font-weight: 800;
}
p{
  color:red;
}

h2{
  font-weight: 800;
  margin-top: 2em;
}

a{
  color:green;
}
.ptitle{
  font-size:medium
}
.description{
  font-size:8px;
}
  
.addActors{
  border-width: 2px;
  border-color:#00ffff;
  background-color:cornsilk;
  border-radius: 5px;
  padding:4px;
  }
ul{list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
  margin-bottom: 20px;
}
ul li{
  margin:10px 10px 5px 10px;
  float:left;
  color:red;
}
ul li a {
  display:block;
  text-align:center;
  padding: 10px 10px;
  list-style:none;
  font-weight: 800;
  color:green;
}
