*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding:0;
   background-image:url('/image/back/back.jpg');
   background-repeat:no-repeat;
   background-size: cover;
   background-color: rgb(138, 176, 246);
   background-blend-mode:overlay;
  color:navy;
}
.header{
  background-image:url('/image/back/blue.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  color: rgb(64, 11, 94); 
  font-weight: 800;
}
.atag{
  background-color: white;
  border-radius: 5px;
  margin-top: 1em;
}
.MyInfo{
  background-color: white;
  font-size: small;
  margin-top:1em;
}
.box{
  background-color: white;
  align-items: center;
  padding:2px;
  border-radius: 4px;
  font-size:.5em;
}
p{
  color:red;
}

h2{
  font-weight: 800;
  margin-top: 2em;
}
.main{
   background-image: url(image/back/back.jpg);
}
a{
  color:green;
}
.ptitle{
  font-size:medium
}
.description{
  font-size:8px;
}
  
.addActors{
  border-width: 2px;
  border-color:#00ffff;
  background-color:cornsilk;
  border-radius: 5px;
  padding:4px;
  }
ul{list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
  margin-bottom: 20px;
}
ul li{
  margin:10px 10px 5px 10px;
  float:left;
  color:red;
}
ul li a {
  display:block;
  text-align:center;
  padding: 10px 10px;
  list-style:none;
  font-weight: 800;
  color:green;
}
