<%- include('../partials/header') %>

<section>
  <div>
    <p><% program.title %></p>
    <p><% a.characters %></p>
    <p><% a.actors %></p> 

  </div>
</section>


 <%- include('../partials/footer') %>