<%- include('../partials/header') %> 
<main class="main" id="main">
  <h2 class="text-center" style="font-size:1.5em;">Alphabetized List to Find Id SQL</h2>
  <ul class="list-stye:none">
    <li class="box">Programs List: <a href="">  HERE</a></li>
    <li class="box">Actors List: <a href="">  HERE</a></li>
    <li class="box">Directors List: <a href="">  HERE</a></li>
    <li class="box">Go to Genres List: <a href="/genrePg">  HERE</a></li>
    <li class="box">Streaming Platforms List: <a href="">  HERE</a></li>
    <li class="box">Production Companies List: <a href="">  HERE</a></li> 
    
  </ul>  
  <h2 class="text-center" style="font-size:1.5em;">Programs By Each Category</h2>
  <ul class=" list-stye:none">
    <li class="box">Programs By Genres:<a href="/genre_progam">  HERE</a></li>  
    <li class="box">Programs By Streaming Platforms: <a href="">  HERE</a></li>
    <li class="box">Programs By Production Companies: <a href="">  HERE</a></li>
  </ul>  

</main>

<%- include('../partials/footer') %> 