
<%- include('../partials/header') %> 

<main class="main" id="main">
  <div class="box text-center">
    <p>Description By Genre<a href="http://localhost:3000/api/genre/get_DescriptionByGenreId">  HERE</a></p>
    <p>Sort Genre ABC<a href="http://localhost:3000/api/genre/sort/genre">  HERE</a></p>
  </div>
  <h2 class="text-center"><%= name %></h2>
  <div class="container">
    <div class="row">
      <% data.forEach(item => { %>
        <div class="col-md-2">
          <p class="box"><%= item.genre %></p>
        </div>
      <% }) %>
    </div>
  </div>
</main>


<%- include('../partials/footer') %> 