<%- include('../partials/header') %> 
<main class="main" id="main">
  <div class="container">
    <h2 class="title text-center"><%=title %></h2>
  </div>
</main>
<%- include('../partials/footer') %>  

