<%- include('../partials/header') %> 
<main class="main" id="main">
  <div class="container">
    <h2 class="title text-center"><%=title %></h2>
     <h3 class="text-center" style="font-size:1em;">ADD INFORMATION TO SQL
    </h3>  
    <nav class="d-flex justify-content-center">
      <ul style="list-style:none;">
        <li >Add Actors<a href="http://localhost:3000/actors-form">HERE</a></li>
        <li >Add Director<a href="http://localhost:3000/directors-form">HERE</a></li>
        <li >Add Genre <a href="http://localhost:3000/genre-form">HERE</a></li>
        <li>Add Production Company <a href="http://localhost:3000/productionCo-form">HERE</a></li>
        <li class="">Add Streaming Platform <a href="http://localhost:3000/streaming-form">HERE</a></li>
      </ul>
    </nav>  
  </div>
</main>
<%- include('../partials/footer') %>  

