<%- include('../partials/header') %> 
<main class="main" id="main">
  <div class="container">
   
      <h1 class="display-1 text-center text-captilize">
        Christmas Movies App
      </h1>
       <h3 class="title"> <%=title %></h3>
  </div>
</main>
<%- include('../partials/footer') %>  

