
<%- include('../partials/header') %> 

<main class="main" id="main">
    <h2 class="text-center" style="font-size:1.5em;">PRODUCTION COMPANIES</h2>

    <ul>
      <% data.forEach(item=> { %>
    <li><%= item.productionCo %></li>  
    <% }) %>
    </ul>
</main>


<%- include('../partials/footer') %> 