
<%- include('../partials/header') %> 

<main class="main" id="main">
    <h2 class="text-center" style="font-size:1.5em;">PRODUCTION COMPANIES</h2>
    <% let counter = 0 %>
    <ul class="box">
      <% data.forEach(item=> { %>
      <% ++counter = item.productionCo %> 

    <li><%= item.productionCo %></li>  
    <% }) %>
    </ul>
</main>


<%- include('../partials/footer') %> 