<%- include('../partials/header') %>
    <section class="section" id="section">
        <div class="container text-center">
            <h1><%= name %></h1>
            <h2><%= data.genre %></h2>
            <div class="box">
                <p><a href="/genre_programs">Programs for this Genre>  HERE</a></P>
                <p><a href="/genre_description">Description By Genre>  HERE</a></p>
            </div>
        </div>
    </section>
<%- include('../partials/footer') %>