<%- include('../partials/header') %>
    <section class="section" id="section">
        <div class="container">
            <div class="row item-center">
                <div class="col-6">
                    <h2 class="text-center">
                        <%= name %>
                    </h2>
                    <% items.forEach(items=> { %>
                        <p>
                            <%= item.streaming %>
                        </p>
                    <% }) %>
                        <div class="box">
                            <p><a href="http://localhost:3000/genrecategories">Categories of Genres</a></p>
                            <P><a href="/Prog-genre">Programs for this Genre</a> </P>
                            <P><a href=""></a> </P>
                        </div>
                        
                </div>
            </div>
        </div>

    </section>
    %- include('../partials/footer') %>