
<%- include('../partials/header') %>
    <section class="section" id="section">
        <div class="container">
            <div class="row item-center">
                <div class="col-4">
                <p class="box"><%= data.productionCo_id %></p> 
                </div>
            </div>
        </div>
    </section>

<%- include('../partials/footer') %> 