<%- include('../partials/header') %>
    <section class="section" id="section">
        <div class="container">
            <div class="row item-center">
                <div class="col-4">
                    <h2 class="text-center" style="font-size:2em;">Streaming Platform</h2>
                    <!-- <% data.forEach(items => { %> -->
                    <p class="box"><a href="/singleStreaming"><%= item.streaming %></a> 
                    <!-- <% }) %> -->
                </div>
            </div>
        </div>
    </section>
%- include('../partials/footer') %> 