<%- include('../partials/header') %>
    <section class="section" id="section">
        <h1><%= name %></h1>
        <div class="box">
            <p><a href="/genre_program">Programs for this Genre</a> </P>
            <p><a href=""></a> </p>
        </div>
        <div class="container">
            <div class="row item-center">
                <div class="col-6">
                    <h2 class="text-center">
                        <%= name %>
                    </h2>
                    <% items.forEach(items=> { %>
                        <p>
                            <%= item.streaming %>
                        </p>
                    <% }) %>
                        
                </div>
            </div>
        </div>

    </section>
    %- include('../partials/footer') %>