<%- include('../partials/header') %>
    <section class="section" id="section">
        <h1><%= name %></h1>
        <div class="box">
            <p><a href="/genre_program">Programs for this Genre>  HERE</a></P>
            <p><a href="/genre_description">Description By Genre>  HERE</a></p>
        </div>
        <div class="container">
            <div class="row item-center">
                <div class="col-6">
                    <p>
                        <%= data.genre %>
                    </p>
                        
                </div>
            </div>
        </div>

    </section>
    <%- include('../partials/footer') %>