
<%- include('../partials/header') %>
    <section class="section" id="section">
        <div class="container">
            <div class="row item-center">
                <div class="col-4">
                <h2 class="text-center" style="font-size:2em;">Production Company</h2>
                <% items.forEach(items => { %>
                <p class="box"> click <a href="/singleProductionCo"><%= item.productionCo %></a></p> 
                <% }) %>
                </div>
            </div>
        </div>
    </section>
%- include('../partials/footer') %> 