
<%- include('../partials/header') %> 

<main class="main" id="main">
  <div class="box">
    <p >Streaming Platforms By Rating<a href="/streaming_rating">  Here</a></p>
   </div>  
    <h2 class="text-center" style="font-size:1.5em;">STREAMING PLATFORM LIST</h2>
      <% data.forEach(item=> { %>
      <% ++counter = item.streaming %>   
      <p class="box"><%= item.streaming %></p>  
    <% }) %>
    
</main>

<%- include('../partials/footer') %> 